<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Template"
         connectionString="Data Source=|DataDirectory|HuskTest.sdf"
         providerName="System.Data.SqlServerCE.4.0" />
    <!--<add name="Template"
         connectionString="Data Source=localhost;Initial Catalog=TemplateTest;Integrated Security=SSPI"
         providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>