@model MVC_Husk.Model.UsersViewModel

@{
    ViewBag.Title = "Home Page";
}

<p>
    Examples of integrated components
</p> 
<ul>
    <li>@Html.ActionLink("Grid Example with JSON data loaded by user", "Index", "SeasonalProducts")</li>
    <li><a href="quartz/index.ashx">Scheduled Jobs Manager for Quartz</a></li>
</ul>