<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Seasonal Products", "Index", "SeasonalProducts")</li>
        <li>@Html.ActionLink("User Maintenance", "Index", "User")</li>
        <li>@Html.ActionLink("Job Queue", "Index", "Queue")</li>
    </ul>
</nav>
