@{
    ViewBag.Title = "ClickThru";
}

@using (Html.BeginForm("ClickThru", "Account"))
{

<h2>ClickThru</h2>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tempus ornare cursus. Sed sem dolor, egestas nec faucibus quis, venenatis eget sem. Proin blandit, nulla tempor elementum sagittis, enim nibh bibendum ipsum, sed cursus enim tellus ac neque. Nunc felis metus, feugiat in aliquet eu, fermentum ut arcu. Nulla sed velit sit amet lorem faucibus interdum. Nunc aliquam consectetur enim, ac mollis nunc pellentesque a. Quisque imperdiet sapien a elit pulvinar lacinia. Morbi at ante non elit mollis dapibus. In non nibh in enim adipiscing tempor. Nam vitae elit quis felis varius elementum. Pellentesque sit amet malesuada elit. Aenean in mi odio, at venenatis risus. Donec nisl lacus, ultricies eu elementum vitae, euismod eget est. Suspendisse sit amet sem ante, sed cursus nisi. Morbi eu metus justo. Nullam semper, mi eu malesuada vestibulum, lacus ipsum bibendum tortor, vitae egestas nunc sapien eget enim. In et posuere massa. Nullam at quam sed ipsum vehicula viverra rhoncus non enim.
</p>
<p>
In ornare euismod erat, a adipiscing arcu lacinia in. Vivamus a tincidunt ligula. Curabitur posuere, dui sed pretium sagittis, tortor neque vulputate libero, nec interdum elit lorem at nunc. Pellentesque vehicula ultrices tempus. Aenean congue quam venenatis nisl vehicula hendrerit. Aenean mauris metus, fermentum venenatis dictum sed, rhoncus at mauris. Praesent sed libero vel eros aliquam porttitor. Donec sollicitudin pretium erat. Quisque vel vulputate nulla. Nullam a lorem nisl. Proin pretium, mauris sit amet lacinia eleifend, nulla lacus interdum enim, id malesuada ligula magna vel urna. Cras odio massa, faucibus quis bibendum sit amet, imperdiet vel dui. Fusce dui ante, sollicitudin a placerat quis, condimentum nec eros. Duis sed ultrices tortor. Nullam bibendum est sit amet urna ultricies lobortis. Fusce laoreet aliquet purus, non sollicitudin libero fringilla in. Sed ornare lorem at augue suscipit scelerisque.
</p>
<p>
Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse tincidunt, ligula eu tempor adipiscing, erat nunc rutrum odio, nec vehicula sem tellus ac purus. Nullam nec libero ut velit vehicula elementum a a tellus. Sed varius porttitor pretium. Nulla congue ullamcorper lectus, ac volutpat leo semper non. Aliquam aliquam quam non mi pharetra convallis. Pellentesque ut ligula lacus, in luctus leo. Sed convallis, arcu a laoreet lacinia, ante sapien tincidunt tortor, sed accumsan nibh tortor vehicula massa.
</p>
<p>
    @Html.CheckBox("Accept") 
    I accept these terms and conditions
</p>
<p>
    <input type="submit" value="Submit" />
</p>
}